<!--
  ~ /*******************************************************************************
  ~ * Copyright Ⓒ 2017. TrinhQuan. All right reserved
  ~ * Author: TrinhQuan. Created on 2017/1/6
  ~ * Contact: trinhquan.171093@gmail.com
  ~ ********************************************************************************/
  -->

<manifest package="com.jarklee.androidsupport"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

    </application>

</manifest>
